<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/rating.css">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar"
     style="background-color: rgb(88,14,84)">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/favicon.ico" width="30" height="30">
            Top 3 projects
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/addCampaign">Start new project</a>
                </li>
            </ul>
            <a sec:authorize="isAnonymous()" class="btn btn-light" href="/login">Login</a>
            <ul sec:authorize="isAuthenticated()" class="navbar-nav">
                <li>
                    <div class="btn-group dropleft">
                        <a class="btn" href="/profile" role="button">
                            <img th:src="${profileImg}" width="35" height="35" style="border-radius: 50%" alt="ProfileImg">
                            Profile</a>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a sec:authorize="hasAuthority('ADMIN')" class="dropdown-item" href="/admin">User
                                management</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1 style="margin-left: 40%; color: #5175C0">User management</h1>


<table class="table">
    <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Status</th>
        <th>Block</th>
        <th>Set as admin</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="user : ${users}">
<tr>
<td class="projectName"><a th:href="@{'/user?id=' + ${user.id}}"
                           th:text="${user.username.toUpperCase()}"></a></td>
<td><span th:text="${user.roles}"></span></td>
<td><span th:text="${user.active}"></span></td>
    <td th:switch="${user.active}">
        <div th:case="true">
        <form th:action="@{'/blockUser?id=' + ${user.id}}" method="post">
            <input type="submit" value="block" >
        </form>
        </div>
        <div th:case="false">
        <form th:action="@{'/unblockUser?id=' + ${user.id}}" method="post">
            <input type="submit" value="unblock" >
        </form>
        </div>
    </td>
    <td >
        <form th:action="@{'/changeRole?id=' + ${user.id}}" method="post">
            <input type="submit" value="change role">
        </form>
    </td>
    <td>
        <form th:action="@{'/deleteUser?id=' + ${user.id}}" method="post">
            <input type="submit" value="delete">
        </form>
    </td>
</tr>
</th:block>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
