@import url(https://fonts.googleapis.com/css?family=Raleway);
.drop{
    margin: auto;
}
h4{
    text-align:center;
}
.drag{

}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.btnAddCampaign {
    margin: auto;
    margin-top: 10px;
    width: 40%;
    display: block;
    width: 40%;
    text-align: center;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: rgb(88,14,84);
    border-color: rgb(88,14,84);
    border: 1px solid transparent;
}

.startLabel {
    text-align-last: center;
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 50em;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
}

.startLabelDate {
    margin: auto;
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 25em;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rcorners {
    border-radius: 25px;
    border: 3px solid #337ab7;
    width: 400px;
    height: 525px;
    margin-right: 50px;
}

.container2 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.projectName {
    text-align: center;
}

.description {
    text-align: justify;
    word-wrap: break-word;
}

.xex {
    margin-left: 100px;
    width: 90%;
}


.form-startit {
    /* max-width: 300px; */
    padding: 15px;
    margin: auto;
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.updatePic_myprofile {

    max-width: 300px;
    padding: 15px;
    margin: auto;
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.has-error {
    font-size: 12px;
    color: red;
}


body {
    margin: 0px;
}

.nav-login {
    margin: -2.7%;
}

nav {
    margin-top: 20px;
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav {
    background: rgb(88,14,84);
}

.link-2 {
    transition: 0.6s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-right: 2px dotted transparent;
    padding: 30px 8px 0 10px;
    margin: 0 10px;
}

.startIt {
    transition: 0.6s;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    border-right: 2px;
    float: left;
    margin-top: -1.0%;
}

.link-2:hover {
    padding-bottom: 24px;
    color: #DCE1E1;
}

.link {
    text-align: right;
}

.profile {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 25px;
    font-family: Raleway;

    border-radius: 25px;
    border: 1px solid #0c1515;
    padding: 20px;
}

.profilepic {
    text-align: center;
}

.profile img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid #abb1ab;
    box-shadow: 0 0 7px #666;
}

.aboutpic {
    text-align: center;
}

.aboutpic2 {
    text-align: center;
    float: right;
}


.about img {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 1px solid #abb1ab;
    box-shadow: 0 0 7px #666;
}

.myprojects {
    display: table;
}

.table1 {
    font-family: Raleway;
    border-collapse: collapse;
    width: 100%;
    border-top: #000000;

}

.table1 td {
    border: 1px solid #000000;
    text-align: left;
    border-top: 1px solid #000000;
    padding: 8px;
}

.table1 th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

.no-scroll {
    width: 80%;
    height: 100%;
}

.categoriesList {
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    padding-top: 20px;

}

.ul, li {
    margin-top: 0;
    margin-bottom: 10px;
    display: inline;
    margin-left: 20px;
}

.picandtext {
    display: flex;
}

.descriptionproject {
    width: 100%;
    margin-left: 5%
}

.editbtn {
    float: right;
    margin-right: 150px;
    margin-top: -15%;
    height: 50px
}

.deletebtn {
    float: right;
    margin-top: -15%;
}

progress {
    width: 100%;
    height: 15px;
}
